asgiref==3.2.10
Django==3.1.2
django-admin-sortable2==0.7.7
django-stubs==1.7.0
django-tinymce==3.1.0
gunicorn==20.0.4
flake8-annotations-coverage==0.0.5
mypy==0.800
Pillow==7.2.0
psycopg2==2.8.6
python-dotenv==0.9.1
pytz==2020.1
requests==2.24.0
sqlparse==0.4.1
wemake-python-styleguide==0.14.1